.wrap {
    border-radius: clamp(5px, 5vw, 30px);
    border: 1px solid #ccc;
    background-color: #999;
    padding: 2rem clamp(20px, 5vw, 60px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}


.newTask__add {
    background-color: #a6b9ff;
    &:hover,
    &:active {
        background-color: #768ad3;
    }
}
.newTask__remove {
    background-color: #ffa6a6;

    &:hover,
    &:active {
        background-color: #cb7575;
    }
}


.newTask__label {
    min-width: 300px;
    flex-grow: 1;
}
.newTask__input {
    width: 100%;
}
